.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  margin: 50px;

}

.App div {
  padding: 50px;
  margin: 50px;
  border: solid black 1px;
}

.inline {
  display: inline-block;
}

.increment {
  color: red
}



